<template>
  <div id="app">
    
    <select v-model.number="month">
        <option 
            v-for="(month, index) in months"
            :key="index"
            :value="index"
        >{{month}}</option>
    </select>

    <select v-model.number="year">
        <option 
            v-for="year in years"
            :key="year"
            :value="year"
        >{{year}}</option>
    </select>

    <Calendar 
      :key="calendar_key" 
      :year="year" 
      :month="month"
    />

  </div>
</template>

<script>

import Calendar from './components/Calendar'

export default {
  name: 'app',
  components: {
    Calendar
  },
  data: function() {
    const now = new Date();
    return {
      year: now.getFullYear(),
      month: now.getMonth(),
      years: [
        2019,
        2020
      ],
      months: [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
      ]
    }
  },
  computed: {
    calendar_key() {
      return `${this.year}/${this.month}`;
    }
  }
}

</script>
