<template>
  <div>
    <div
      v-if="!loading"
    >
      <span>Total Hours: {{total_hours}}</span>
      <table>
        <tr 
          v-for="(week, index) in weeks"
          :key="index"
        >
          <Day
            v-for="(date, index) in week"
            :key="index"
            :hours="date.hours"
            :date="date.date"
            v-on:hours-changed="onHoursChanged"
          />
        </tr>
      </table>
    </div>
  </div>
</template>

<script>

import { getMonth, setDate } from '../lib/api'
import Day from './Day'

export default {
  name: 'Calendar',
  components: {
    Day
  },
  created() {
    this.getData()
  },
  props: [
    'year',
    'month'
  ],
  data: function() {
    return {
      loading: false,
      calendar_data: null
    };
  },
  computed: {
    weeks() {

      if(this.calendar_data == null) return null

      const date = new Date(this.year, this.month, 1)
      const day_of_week = date.getDay();

      const weeks = [[]];
      let week_index = 0;

      for(let i = 0; i < day_of_week; i++) {
        weeks[week_index].push({})
      }

      while(date.getMonth() === this.month) {
        
        if(date.getDay() === 0) {
          weeks.push([])
          week_index++
        }

        weeks[week_index].push({
          date: date.getDate(),
          hours: this.calendar_data[date.getDate()]
        })

        date.setDate(date.getDate() + 1)

      }

      if(date.getDay() > 0) {
        for(let i = date.getDay(); i < 7; i++) {
          weeks[week_index].push({})
        }
      }

      return weeks

    },
    total_hours() {

      if(this.calendar_data == null) return null

      return Object.keys(this.calendar_data).reduce((n, key) => {
        return n + this.calendar_data[key]
      }, 0)

    }
  },
  methods: {
    async getData() {

      this.loading = true

      this.calendar_data = await getMonth(this.year, this.month)

      this.loading = false

    },
    async onHoursChanged(date, hours) {

      await setDate(this.year, this.month, date, hours)

      if(hours) {
        this.calendar_data[date] = hours
      } else {
        delete this.calendar_data[date]
      }

      this.calendar_data = Object.assign({}, this.calendar_data)

    }
  }
}

</script>
