<template>
    <td
        style="
            width:128px;
            height:128px;
            border:1px solid;
            position:relative;
        "
    >
        <div 
            v-if="date"
            style="
                position:absolute;
                top:0px;
                left:0px;
            "
        >
            {{date}}
        </div>
        <input
            v-if="date"
            v-model.number="local_hours"
            @change="onHoursChanged"
            style="
                height: 32px;
                width: 64px;
                font-size: 32px;
                margin-left: 26px;
            "
        />
    </td>
</template>

<script>

// import { setDate } from '../lib/api'

export default {
    name: 'Day',
    props: [
        'hours',
        'date'
    ],
    data() {
        return {
            local_hours: this.hours
        }
    },
    methods: {
        async onHoursChanged() {
            this.$emit('hours-changed', this.date, this.local_hours);
        }
    }
}

</script>